<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <title>origin Redux</title>
</head>
<body>
<div id="app"></div>
<!--<div>-->
    <!--<p>-->
        <!--Clicked: <span id="value">0</span> times-->
        <!--<button id="increment">+</button>-->
        <!--<button id="decrement">-</button>-->
        <!--<button id="clear">clear</button>-->
    <!--</p>-->
<!--</div>-->
</body>
</html>
